@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
/*All colours put inside of a root, so all colours can be changed throughout the whole page without going through different settings.*/
:root {
    --primary: #D9E0CF;
    --secondary: #B16AD2;
    --tertiary: #abbda8;
    --dark: black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/*Border around whole website*/
html {
    box-sizing: border-box;
    line-height: 1.4; 
}
img{
    max-width: 100%;
}

/*Font and page colour, margin also added. This adds a good look and keeps elements within the margin*/
body {
    font-family: Reem Kufi;
    background:var(--primary);
    margin: 0px 20px;
}
img {
    max-width: 100%;
}
/* Everything on each page is within this wrapper, keeps page within grid css and adds margin*/
.wrapper {
    display: grid;
    grid-template-columns: 100%;
    max-width: 100%;
    grid-gap: 0px;
    margin: 1px 1px 1px;
}

/*Navigation bar*/
/*Grid is used to display nac bar, allows to have them in columns, we have 6 pages so 6 grids with 1 row. This could increase to 7 or 8 with additional text or a logo*/
.main-nav ul {
    display: grid;
    grid-gap: 0px;
    margin-bottom:-19px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
  
}
/* Nav bar styling  */
.main-nav a {
    background: var(--secondary);
    display: block;
    text-decoration: none;
    padding: 1.4rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
}

/* Nav bar hover state, bg colour is changed along with text colour*/
.main-nav a:hover {
    background: var(--primary);
    color: var(--dark);
}
/* This is the heading before staff is displayed. This tag will be used on other pages for headings.*/
.S {
    font-size: 2rem;
    border-style: solid hidden solid hidden;
    border-color: black;
    width: 50%;
    text-align: center;
    margin: 50px auto;

}

/*Adds a different black border to the heading, left and right borders hidden*/
.R {
    font-size: 2rem;
    border-style: solid hidden solid hidden;
    border-color: black;
    background-color: var(--secondary);
    width: 50%;
    text-align: center;
    margin: 5rem auto;
}

/**Home Page**/
/*Banner*/
/* Banner on the home page is styled, background image its size and how objects within are displayed
    everything is placed in the center using justify content and align items. opacity is given to the image as well as spacing
    spacing is done with margins and padding.
    Flex direction set to column to allow text within to be in one.
    lastly shadow is added to the background img for an appealing effect.*/
.banner {
    grid-area: banner;
    min-height: 400px;
    background: url(img/homepagebanner.jpg);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    margin-top: 21px;
}
/* text within banner is edited here.
    Colours, sizing as well as shadow. They are in different classes so they can seperately be edited.
    placement is also easier when inside different classes.*/
.banner h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--secondary);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;;

} .title {
    border-style: hidden hidden solid hidden;
    border-color: white;
    padding-bottom: 50px;
}

.banner .title2 {
    text-shadow: -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green, 1px 1px 0 green;;
    color: var(--primary);
}

/*This is the text underneath the banner on index.html classes of T, t1 and t2.
Main class of T to put everything inside a grid, allows easier placement for child classes
both put into the same colomns on the center of the page. This is so borders can be manipulated.*/
.T {
    display: grid;
    grid-template-columns: 20% 60% 12%;
    grid-row: inherit;
    margin: 50px;
}
 .t1 {
    grid-column: 2;
    border-style: solid hidden solid hidden;
    border-color: black;
    text-align: center;
    font-size: 2rem;
}

.t2 {
    grid-column: 2;
    grid-row: 2/3;
    text-align: center;
    font-size: 1.2em;

}
/* parent of C to put items within a grid, with this image could be put into one column and text within the other.
child classes are put into seperate columns and same rows. */
.C {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: repeat(1, 1fr);
    background-color: var(--secondary);
    color: var(--primary);
    white-space:pre-wrap;
}

.c1 {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    float: right;
    margin: 10px;

}
.c2 {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
    

}
.C img {
    grid-column: 2;
    width: 1000px;
    height: 600px;
    vertical-align:baseline;
    object-fit: cover;
    align-items: right;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.8;
    white-space: nowrap;
}
/* Same as C classes however they are reversed.*/
.D {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: repeat(1, 1fr);
    background-color: var(--tertiary);
    color: var(--primary);
    white-space:pre-wrap;
}

.d1 {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    float: right;
    margin: 10px;

}
.d2 {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
    

}
.D img {
    grid-column: 1;
    width: 1000px;
    height: 600px;
    vertical-align:baseline;
    object-fit: cover;
    align-items: right;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.8;
    white-space: nowrap;
}


/**About Page**/
/*Banner is setup same as done on index.html however without the background image.*/
.banner2 {
    
    grid-area: banner;
    min-height: 100px;
    background: var(--secondary);
    
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 20% 60% 12%;
    grid-template-rows: inherit;
    align-items: center;
    margin-top: 21px;
}
/*Text within the banner*/
.banner2 .b {
    grid-column: 2/3;
    font-size: 3rem;
    border-style: solid hidden solid hidden;
    border-color: black;
    text-align: center;
}
.banner2 .b2 {
    grid-column: 2/3;
    gap: 2px;
    text-align: center;
    
/* Parent class, and p tag within manipulated so placement is correct
white space is used to allow text to look as it does within html*/
}
.BT p {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-column: 2/3;
    white-space:pre-wrap;
    background-color: var(--secondary);
    margin-top: -3rem;
}

/* This tag allows the manipulation of the box around the text and the image. 
Columns allow for easy placement within the box.
sizes are also changed using width and height.
20% is for the images and 80% for the text next to the image. */
.staff {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(5 1fr);
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--tertiary);
    width: 70%;
    height: 93%;
}

.staff img {
    grid-column: 1;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: left;
    margin-left: auto;
    margin-right: auto;
}

.s1 {
    color: var(--dark);
    text-align: center;
    grid-column: 2/2;
    width: 70%;
    font-size: 0.9em;
    padding: 3em;
    text-align: left;
    white-space:pre-wrap;
}
/*Same as staff class however margins are added to change direction of box.
more columns are also added so the boxes can be placed in a different place.*/
.staff2 {
    display: grid;
    grid-template-columns: 0% 20% 80%;
    grid-template-rows: repeat(5 1fr);
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--secondary);
    max-width: 100%;
    height: 90%;
    margin-top: 10px;
    margin-left: 30rem;
    margin-right: 1px;
}

.staff2 img {
    grid-column:2;
    width: 350px;
    height: 348px;
    object-fit: cover;
    object-position: left;
    margin-left: auto;
    margin-right: auto;
}

.s2 {
    color: var(--dark);
    text-align: center;
    grid-column: 3/3;
    width: 70%;
    font-size: 0.9em;
    padding: 3em;
    text-align: left;
    white-space:pre-wrap;
}

/**Quote Page**/
 /* This code changes how the form looks.
 It changes size and placement. Everything is within this form*/
 form {
    display: grid;
   margin: 1 auto;
    max-width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
    
  
}
/*A div is put within the form, this is done so placemen can be easily changed.
Adding a grid makes it so text and box sizes and placement can be manipulated.s*/
.f {
  display: grid;
     grid-template-columns: 30% 70%;
     margin: 20px auto;

 

}
/*Changes how the label and input tags look, adding margins and padding as well as how the text looks.*/
label {
   
    text-align: left;
    white-space: nowrap;
    padding-top: 12px;
    margin-right: 20rem;
    padding-bottom: 20px;
    
    width: 100%;
    max-width: 100%;
    white-space:pre-wrap;
    color: var(--light);
    text-align: left;
 
}
input {
    margin-top: 20px;
    width: 100px;
}
/*This changes the headings within the form, it acts as a seperator before each new part of the form*/
.fheadings {
    font-size: 1rem;
    border-style: solid hidden solid hidden;
    border-width: 1px;
    border-color: black;
    background-color: var(--tertiary);
    width: 100%;
    text-align: center;
    margin: 0 auto;

}
/*Changes the submit box.*/
.Submit {
    grid-column: 2;
    align-items: right;
}

/**Help page**/

/* faq section put within a grid for easy placement of objects within.
shape and placement is to the left side, done by using width and height*/
.faq {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5 1fr);
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--tertiary);
    width: 70%;
    height: 93%;
}
/*This changes the text within the faq section*/
.faq h1 {
    color: var(--light);
    text-align: center;
    grid-column: 1;
    width: 100%;
    text-align: center;

}
.f1 {
    color: var(--light);
    text-align: center;
    grid-column: 1;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    white-space:pre-wrap;
}
/*same as faq section however this is placed to the right side instead of left.
Backgound colour has also been changed.*/
.faq2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5 1fr);
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--secondary);
    
    height: 90%;
    margin-top: 5px;
    margin-left: 30rem;
    margin-right: 1px;

    max-width: 100%;
}

.faq2 h1 {
    color: var(--light);
    text-align: center;
    grid-column: 1;
    width: 100%;
    text-align: center;
}
.f2 {
    color: var(--dark);
    text-align: center;
    grid-column: 1;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    white-space:pre-wrap;
}
/*Button at the bottom of the page.
This places it in the middle and gives it colour and size.*/
.btn {
    background-color: var(--secondary);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border: 0;
    width: 25%;
    margin: 100px auto;
    border-radius: 25px;
}

/**Review Page**/
/* This is also used for headings. Used on a few different pages.
This adds a different background colour*/
.Cheadings {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--secondary);
    border-style: solid hidden hidden hidden;
    border-color: var(--light);
    border-width: 1px;
  margin-top: 1rem;
}



/* This edits the review section within a grid. Makes it so text can be placed in two different rows with grid.
width is at 100% but height is limited.*/
.review {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(50% 50%);
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--secondary);
    width: 100%;
    height: 93%;
    padding-bottom: 20px;
}
/* re1 and r1 edit text within box.*/
.re1 {
    display: grid;
    grid-template-rows: 100%;
    color: var(--light);
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px auto;
    text-shadow: var(--shadow);

    border-style: solid hidden hidden hidden;
    border-width: 1px;
    
}

.r1 {
    display:grid;
    grid-template-rows: 100%;
    grid-row: 2;
    color: var(--light);
    text-align: left;
    grid-column: 1;
    width: 100%;
    height:10rem;
    font-size: 0.9em;
    white-space:pre-wrap;
    text-shadow: var(--shadow);

    border-style: solid hidden hidden hidden;
    border-width: 1px;   
}
/*Same as review class, however background colour is changed.*/
.review2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(50% 50%);
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--tertiary);
    width: 100%;
    height: 93%;
    padding-bottom: 20px;
}

/**Contact Page**/
/*This class is to edit the box, changes colour and size, as well as how things are placed within.*/
.contact {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 1 1fr;
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
}
/*manipulates the image wihin contact class.*/
.contactimg {
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    margin: 50px auto;

}

/* A transparent box is added around the content within the grids. They are all placed in the same grid column*/
.boxe { 
    grid-area: 1/ 1 / 2 / 2;
   
    height: 25rem;
    background-color: var(--dark);
    opacity: 0.2;
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
    max-width: 100%;
  }
.contactinfo {
    grid-area: 1/ 1 / 2 / 2;
    display: block;
    margin: 18rem 18rem auto;
    text-align: center;
    white-space: pre-wrap;
    color: var(--light);
    text-shadow: var(--shadow);
}
/* Same as contact class however colour is changed.*/
.contact2 {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 1 1fr;
    border-style: hidden hidden hidden hidden;
    border-width: 1px;
    background-color: var(--tertiary);
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
}

/*This is for the form, to submit an email request. Black box couldn't be placed over this section,
this is because interacting with the form is disabled when done so.*/
input[type=text], input[type=email], input[type=tel], select, textarea {    
    width: 99%;
    padding: 12px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
  }
  
  input[type=submit] {

    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--primary)
  }
  

/**Footer**/
footer {
    white-space:inherit;
    margin-top: 0.2rem;
    background: var(--tertiary);
    color: var(--light);
    text-align: center;
    height:18rem;

    border-style: solid hidden hidden hidden;
    border-width: 1px;
    margin-top: 1rem;
    
}
footer img {
    width: auto;
    align-items: left;
    margin: auto;
    float:center;
}
